@charset "UTF-8";
* {
  font-weight: 400;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: #83c5be;
  text-decoration: none;
}

h3 {
  display: inline-block;
  font-size: 1.6rem;
  margin-bottom: 2rem;
  letter-spacing: 4px;
}

p {
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

ul {
  list-style: none;
}

html,
body {
  font-family: "Poiret One", cursive;
  font-size: 1.1rem;
  background-color: #181717;
  color: #f8f9fa;
}

#page-wrapper {
  overflow: hidden;
}

#zen-intro {
  position: relative;
  margin-bottom: 10%;
}

#banner {
  height: 400px;
  background: url("../images/bg.jpg") no-repeat center center/cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
#banner::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
}
#banner h1,
#banner h2 {
  font-family: "Yellowtail", cursive;
  letter-spacing: 3px;
  position: relative;
  z-index: 1;
}
#banner h1 {
  font-size: 3rem;
}
#banner h2 {
  font-size: 1rem;
  margin-left: 24%;
}

#zen-summary {
  background-color: #4a595273;
  color: #f8f9fa;
  letter-spacing: 3px;
  font-weight: 300;
  padding: 1.5rem 2rem;
  margin-bottom: 3rem;
}
#zen-summary p:nth-child(1) {
  margin-bottom: 2rem;
}
#zen-summary a::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 4px;
}

#zen-preamble {
  padding: 1.5rem 2rem;
}
#zen-preamble::after {
  content: "";
  width: 100%;
  height: 200px;
  display: block;
  background: url(../images/flower-1.png) no-repeat center center/cover;
}
#zen-preamble h3::first-letter {
  color: #be898c;
  font-size: 2.4rem;
}
#zen-preamble p {
  line-height: 1.6;
}

#zen-supporting p {
  line-height: 1.6;
}

#zen-explanation {
  background-color: #5b5f6b41;
  padding: 60px 2rem;
  position: relative;
}
#zen-explanation h3::first-letter {
  color: #8e9ab9;
  font-size: 2.4rem;
}

#zen-participation {
  padding: 60px 2rem;
}
#zen-participation::after {
  content: "";
  height: 200px;
  display: block;
  background: url(../images/flower-2.png) no-repeat center center/cover;
}
#zen-participation h3 {
  position: relative;
}
#zen-participation h3::first-letter {
  color: #ffb703;
  font-size: 2.4rem;
}
#zen-participation h3::before {
  content: "";
  width: 70px;
  height: 70px;
  border: 4px solid #ffb80331;
  position: absolute;
  left: 0;
  top: 55px;
  transform: rotate(10deg);
}
#zen-participation h3::after {
  content: "";
  width: 90px;
  height: 90px;
  border: 3px solid #ffb80359;
  position: absolute;
  left: 0px;
  top: 45px;
  transform: rotate(30deg);
}

#zen-benefits {
  padding: 60px 2rem;
  background-color: #5b5f6b41;
}
#zen-benefits h3::first-letter {
  color: #95cab0;
  font-size: 2.4rem;
}

#zen-requirements {
  padding: 60px 2rem;
}
#zen-requirements::after {
  background: url(../images/flower-3.png) no-repeat center center/cover;
  content: "";
  width: 300px;
  height: 300px;
  display: block;
  margin: auto;
}
#zen-requirements h3::first-letter {
  color: #ef8354;
  font-size: 2.4rem;
}

#footer {
  background-color: #5b5f6b21;
  padding: 50px 0;
  text-align: center;
}
#footer a {
  display: inline-block;
  color: #f8f9fa60;
  margin-right: 10px;
  transition: 0.3s;
}
#footer a:hover {
  color: #f8f9fae3;
  transform: translateY(-8px);
}
#footer a::before {
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
  font-size: 2rem;
  transition: 0.3s;
}
#footer a:nth-child(1)::before {
  content: "";
}
#footer a:nth-child(2)::before {
  content: "";
}
#footer a:nth-child(3)::before {
  content: "";
}
#footer a:nth-child(4)::before {
  content: "";
}
#footer a:nth-child(5)::before {
  content: "";
}

#sidebar {
  width: 80%;
  height: 100%;
  background-color: #5b5f6b60;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 20;
  transition: 0.5s;
  transform: translateX(-100%);
}
#sidebar::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1.2rem;
  width: 26px;
  height: 70px;
  background-color: #5b5f6b60;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  text-align: center;
  line-height: 70px;
  position: absolute;
  top: 50%;
  right: -26px;
  transform: translateY(-50%);
  transition: 0.5s;
  cursor: pointer;
}
#sidebar:hover {
  background-color: #40434d;
  transform: translateX(0);
}
#sidebar:hover::before {
  content: "";
  background-color: #40434d;
}
#sidebar #wrapper {
  height: 100%;
  overflow-y: auto;
}
#sidebar h3::first-letter {
  font-size: 2.4rem;
}
#sidebar li {
  margin-bottom: 0.5rem;
}

@media (min-width: 992px) {
  *::before,
*::after {
    transition: 1s;
  }

  h3 {
    font-size: 2.6rem;
    transition: 0.3s;
    position: relative;
    z-index: 10;
  }
  h3:hover {
    transform: translateY(-8px);
    text-shadow: 0 8px 4px #f8f9fa73;
  }

  p {
    position: relative;
    z-index: 10;
  }

  #zen-intro {
    margin-bottom: 20%;
  }

  #banner {
    height: 500px;
    margin-bottom: 200px;
    perspective: 1000px;
    perspective-origin: center center;
    transition: 0.2s;
  }
  #banner h1,
#banner h2 {
    transform-style: preserve-3d;
  }
  #banner h1 {
    font-size: 6rem;
  }
  #banner h2 {
    font-size: 1.2rem;
  }

  #zen-summary {
    width: 30%;
    margin-bottom: 0;
    position: absolute;
    top: 400px;
    right: 0;
    opacity: 0;
    transition: 1s;
  }
  #zen-summary.active {
    opacity: 1;
  }
  #zen-summary a::before {
    content: "";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 4px;
  }

  #zen-preamble {
    position: relative;
    padding: 0 10% 0 45%;
  }
  #zen-preamble::before, #zen-preamble::after {
    content: "";
    width: 40%;
    height: 300px;
    position: absolute;
    left: 0;
    top: 70%;
  }
  #zen-preamble::after {
    background: url(../images/flower-1.png) no-repeat center center/cover;
  }
  #zen-preamble::before {
    backdrop-filter: saturate(0);
    z-index: 1;
  }
  #zen-preamble.active::before {
    backdrop-filter: saturate(1);
  }
  #zen-preamble h3 {
    margin-left: -100px;
  }
  #zen-preamble p {
    line-height: 1.6;
  }

  #zen-explanation {
    background-color: transparent;
    padding-top: 60px;
    padding-bottom: 100px;
    padding-left: 10%;
    margin-bottom: 100px;
    transition: 1s;
  }
  #zen-explanation::before {
    content: "";
    width: 120px;
    height: 0;
    background-color: #5b5f6ba2;
    opacity: 0;
    position: absolute;
    top: -55%;
    right: 35%;
  }
  #zen-explanation.active {
    background-color: #5b5f6b41;
  }
  #zen-explanation.active::before {
    height: 480px;
    opacity: 1;
  }
  #zen-explanation h3 {
    margin-left: 50%;
  }
  #zen-explanation p {
    width: 60%;
  }

  #zen-participation {
    padding-left: 15%;
    margin-bottom: 150px;
    position: relative;
  }
  #zen-participation::before, #zen-participation::after {
    content: "";
    width: 35%;
    height: 400px;
    position: absolute;
    top: 90%;
    right: 0;
  }
  #zen-participation::after {
    background: url(../images/flower-2.png) no-repeat center center/cover;
  }
  #zen-participation::before {
    backdrop-filter: saturate(0);
    z-index: 1;
  }
  #zen-participation.active::before {
    backdrop-filter: saturate(1);
  }
  #zen-participation.active h3::before {
    opacity: 1;
    transform: rotate(280deg);
  }
  #zen-participation.active h3::after {
    opacity: 1;
    transform: rotate(250deg);
  }
  #zen-participation h3 {
    position: relative;
    margin-left: 50px;
  }
  #zen-participation h3::before {
    opacity: 0;
    left: -70px;
    top: 35px;
  }
  #zen-participation h3::after {
    opacity: 0;
    left: -65px;
    top: 25px;
  }
  #zen-participation p {
    width: 70%;
  }

  #zen-benefits {
    background-color: transparent;
    padding-left: 20%;
    margin-bottom: 150px;
    transition: 1s;
  }
  #zen-benefits.active {
    background-color: #5b5f6b41;
  }
  #zen-benefits h3 {
    margin-left: -3%;
  }
  #zen-benefits p {
    width: 50%;
  }

  #zen-requirements {
    padding: 0 20% 0 10%;
    margin-bottom: 150px;
    position: relative;
  }
  #zen-requirements::before, #zen-requirements::after {
    content: "";
    width: 300px;
    height: 300px;
    position: absolute;
    top: 78%;
    left: 7%;
  }
  #zen-requirements::after {
    background: url(../images/flower-3.png) no-repeat center center/cover;
  }
  #zen-requirements::before {
    backdrop-filter: saturate(0);
    z-index: 1;
  }
  #zen-requirements.active::before {
    backdrop-filter: saturate(1);
  }
  #zen-requirements h3 {
    margin-left: 90%;
  }
  #zen-requirements p:nth-child(5), #zen-requirements p:nth-child(6) {
    margin-left: 22%;
    margin-right: -18%;
  }

  #footer a {
    margin-right: 30px;
  }
  #footer a::before {
    font-size: 3rem;
  }

  #sidebar {
    width: auto;
  }

  .extra1 {
    width: 24px;
    height: 24px;
    border: 2px solid #f8f9fa31;
    border-radius: 50%;
    position: fixed;
    z-index: 20;
    transform: translate(-50%, -50%);
    transition: top 0.1s, left 0.1s, width 0.4s, height 0.4s, backdrop-filter 0.4s;
    pointer-events: none;
  }
}

/*# sourceMappingURL=style.css.map */
